<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
    <style>
      .background-radial-gradient {
        background-color: white;
      
      }
  
  
      
  
      .bg-glass {
        background-color: hsla(0, 0%, 100%, 0.9) !important;
        backdrop-filter: saturate(200%) blur(25px);
      }
    </style>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a style ="color: blue; font-size: 50px;">DevKit.</a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active"  aria-current="page" href="#" style="color: gray; font-size: 20px;">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: gray; font-size: 20px;">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: gray; font-size: 20px;">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" style="color: gray; font-size: 20px;" >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>


    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(210, 4%, 10%)">
            Welcome to <span style="color: hsl(242, 71%, 66%)">Devkit</span>  <br />
            <span style="color: hsl(0, 0%, 2%)">Develop anything</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(0, 0%, 2%)">
         Build a beautiful, modern website with flexible<br>
         components built from scratch.
          </p>
          <button type="submit" style="background-color: blue; color:white; border-radius: 10px;border: none; height:40px; width: 180px; "> View All Pages  </button> 
          &nbsp;&nbsp;
          
          <button type="submit" style="background-color: rgb(239, 239, 248); color:rgb(105, 58, 174); border-radius: 10px;border: none; height:40px; width: 150px; "> Documentation  </button>
          
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
       <img src="assets/img/pic.png" alt="">
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->