<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100"style="height: 100px;" >
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 20px; width:380px ;" >
            <div class="card-body p-5 text-center">
  
              <div class="login">
  
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2><br><br>
                
  
                <div class="form-outline form-white mb-4">
              
                  <input type="text" id="typeEmailX" class="form-control form-control-lg" style="border-radius: 70px; background-color: #e0e0d1 ;" placeholder="User name" />
                </div>
  
                <div class="form-outline form-white mb-4">
                  
                  <input type="password" id="typePasswordX" class="form-control form-control-lg" style="border-radius: 70px; background-color: #e0e0d1;" placeholder= "password"/>
                  
                </div>
                <table><tr><td>
                <input class= "form-check d-flex justify-content-start mb-4" type="checkbox" id="remember-me" ></td>
                <td><label class= "form-check d-flex justify-content-start mb-4" for="remember-me">Remember me</label></td></tr></table><br><br>
  
                
  
                <button class="btn btn-outline-light btn-lg px-5" type="submit" style=" background: linear-gradient(to right, #ffcc00 19%, #ff3399 100%);width: 300px;
                border-radius:70px" routerLink="homepage" >LOGIN</button><br><br>
                <p class="small mb-5 pb-lg-2"><a class="text-black-50" href="#!">Forgot password</a></p>
               
  
              </div>
  
              <div>
                <p class="mb-0">Not a member? <a href="#!" class="text-black-50 fw-bold">Sign Up now</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>